<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="979589">  <td>20/03/05 15:41:02</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:testng.NewTest@3c0be339]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@812446698</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>20/03/05 15:40:57</td>   <td>-5826</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:testng.NewTest@3c0be339]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@812446698</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>20/03/05 15:41:02</td>   <td>-66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.first()[pri:0, instance:testng.NewTest@3c0be339]">first</td> 
  <td>main@812446698</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>20/03/05 15:41:02</td>   <td>-54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.fourth()[pri:0, instance:testng.NewTest@3c0be339]">fourth</td> 
  <td>main@812446698</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>20/03/05 15:41:02</td>   <td>-53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.second()[pri:0, instance:testng.NewTest@3c0be339]">second</td> 
  <td>main@812446698</td>   <td></td> </tr>
</table>
