<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testng.NewTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>third</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fourth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>first</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>second</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
