<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MyFirstSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc82a1">  <td>20/03/05 16:05:34</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:testng.NewTest@683dbc2c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@893504292</td>   <td></td> </tr>
<tr bgcolor="bc82a1">  <td>20/03/05 16:04:59</td>   <td>-35361</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:testng.NewTest@683dbc2c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@893504292</td>   <td></td> </tr>
<tr bgcolor="bc82a1">  <td>20/03/05 16:05:34</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.first()[pri:0, instance:testng.NewTest@683dbc2c]">first</td> 
  <td>main@893504292</td>   <td></td> </tr>
<tr bgcolor="bc82a1">  <td>20/03/05 16:05:34</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.fourth()[pri:0, instance:testng.NewTest@683dbc2c]">fourth</td> 
  <td>main@893504292</td>   <td></td> </tr>
<tr bgcolor="bc82a1">  <td>20/03/05 16:05:34</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.second()[pri:0, instance:testng.NewTest@683dbc2c]">second</td> 
  <td>main@893504292</td>   <td></td> </tr>
</table>
